<!DOCTYPE html>
<html>

<head>
	<title>Dictionary</title>
	<meta charset="utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A dictionary app to find meaning, pronunciation and usage examples of words in English language.">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./static/style.css">
</head>

<body>
	<div class="container">
		<h1><a href="/">Dictionary</a></h1>
		<input type="text">
		<ul class="autosuggest-list"></ul>
		<div class="search-list"></div>
		<h4><a href="http://vikaslalwani.com/">Vikas Lalwani</a></h4>
	</div>
	<script type="text/javascript" src="./static/script.js"></script>
</body>

</html>